{% extends 'index2.html'%}
{% block content %}

<html>
<head>
<style>
<!--h1 {-->
<!--  border-style: double;-->
<!--}-->

iframe {
  position: absolute;
  top: width:25%;
  right: 0;
  width: width:50%;
  height: width:25%;
  border: 3px solid #73AD21;
}

</style>
</head>
<body>
<h1>İletişim Bilgileri</h1>

<iframe id="map1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.337197068821!2d28.66455774936847!3d40.99599223336111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b55f9a85c2ad55%3A0x847fadaede2b6b30!2sCan%20Ta%C5%9Flama!5e0!3m2!1str!2str!4v1569678919265!5m2!1str!2str" width="500" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
<div>
    <p2>&emsp;</p2>
</div>
<div>
    <p2>&emsp;</p2>
</div>
<div>
    <p1> <b> Adres </b> : Mermerciler Sanayi Sitesi</p1>
</div>
<div>
    <p1>&emsp;&emsp;&emsp;14. Caddesi No:38, 34520 </p1>
</div>
<div>
    <p1>&emsp;&emsp;&emsp;Beylikdüzü Organize Sanayi Bölgesi</p1>
</div>
<div>
    <p1>&emsp;&emsp;&emsp;Beylikdüzü / İstanbul</p1>
</div>
<div>
    <p2>&emsp;</p2>
</div>
<div>
    <p2>&emsp;</p2>
</div>
<div>
    <p2> <b>Telefon numarası</b> : 0536 964 84 82</p2>
</div>
<div>
    <p2>&emsp;</p2>
</div>
<div>
    <p2>&emsp;</p2>
</div>
<div>
    <p2> <b>E-Posta	</b> : cantaslama@gmail.com</p2>
</div>

</body>
</html>

{% endblock content %}